In [ ]:
import pandas as pd
df=pd.read_csv('healthandfitness.csv')

In [ ]:
df.head()
df.tail()

,Timestamp,Name,Gender,Age in Years,Hemoglobin,Weight,Heartbeat,Systolic,Diastolic,Health Status
72,2022/04/27 5:06:41 PM GMT+5:30,Abhishak raj,Male,56,15.5,105.0,103,140,96,No
73,2022/04/27 5:07:36 PM GMT+5:30,piyanshu varma,Male,21,13.0,80.0,82,163,95,No
74,2022/04/27 5:18:44 PM GMT+5:30,mukesh singh,Male,25,15.5,69.0,86,130,93,No
75,2022/04/27 5:19:20 PM GMT+5:30,Rakesh,Male,26,15.5,76.0,89,140,98,No
76,2022/04/27 5:20:02 PM GMT+5:30,Ram sagar,Male,78,15.0,79.0,86,180,93,No

In [ ]:
df['Gender'].replace(['Male','Female'],[0,1],inplace=True)
df['Health Status'].replace(['Yes','No'],[1,0],inplace=True)

In [ ]:
df.head()

,Timestamp,Name,Gender,Age in Years,Hemoglobin,Weight,Heartbeat,Systolic,Diastolic,Health Status
0,2022/04/21 9:38:30 PM GMT+5:30,Akshit Singh,0,24,14.3,56.0,70,120,80,1
1,2022/04/21 10:26:19 PM GMT+5:30,Amitesh Verma,0,20,12.0,50.0,72,120,80,1
2,2022/04/21 10:27:42 PM GMT+5:30,Aman Kant,0,19,17.0,67.0,85,120,80,0
3,2022/04/21 10:28:34 PM GMT+5:30,Deepak,0,28,13.5,65.0,75,120,80,1
4,2022/04/21 10:29:43 PM GMT+5:30,Chhavi,1,28,13.5,60.0,72,120,86,1

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X=df.drop(columns=['Timestamp','Name','Age in Years','Weight ','Health Status'])

In [ ]:
X

    Gender  Hemoglobin   Heartbeat   Systolic  Diastolic
0        0         14.3          70       120         80
1        0         12.0          72       120         80
2        0         17.0          85       120         80
3        0         13.5          75       120         80
4        1         13.5          72       120         86
..     ...          ...         ...       ...        ...
72       0         15.5         103       140         96
73       0         13.0          82       163         95
74       0         15.5          86       130         93
75       0         15.5          89       140         98
76       0         15.0          86       180         93

[77 rows x 5 columns]

In [ ]:
y=df.drop(columns=['Timestamp','Name','Age in Years','Weight ','Gender','Heartbeat ','Systolic','Diastolic','Hemoglobin '])

In [ ]:
y

    Health Status
0               1
1               1
2               0
3               1
4               1
..            ...
72              0
73              0
74              0
75              0
76              0

[77 rows x 1 columns]

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=.30)
df_tree=DecisionTreeClassifier()
my_model=df_tree.fit(X_train,y_train)
df_tree

DecisionTreeClassifier()

In [ ]:
test=df_tree.predict(X_test)
y_test

    Health Status
27              1
71              0
75              0
29              0
0               1
25              0
11              0
55              0
7               1
32              0
46              1
40              1
36              1
63              0
52              1
30              0
72              0
57              0
21              0
64              1
60              0
43              0
56              0
37              1

In [ ]:
X_test

    Gender  Hemoglobin   Heartbeat   Systolic  Diastolic
27       1         13.5          70       143         82
71       0         13.5          75       131         94
75       0         15.5          89       140         98
29       0         10.0          73       136        113
0        0         14.3          70       120         80
25       1         11.0         120       120         93
11       0         13.0          72       145         83
55       0         13.5          68       130        130
7        1         12.5          72       120         89
32       0         13.0          92       111        105
46       1         16.5          73       120         81
40       0         15.5          95       180         83
36       0         12.5          72       120         85
63       1         17.0          96       130         91
52       0         12.5          62       180         89
30       0         16.0          90       177        118
72       0         15.5         103       140         96
57       0         14.0          95       180        111
21       0         13.0         120       120         82
64       0         13.0          84       130         96
60       0         15.0          96       180        114
43       1         15.5          69       132        120
56       0         15.5          67       140        120
37       0         15.5          72       135         86

In [ ]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,test)

In [ ]:
accuracy

0.7916666666666666

In [ ]:
status=my_model.predict([[0,14,90,120,80]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
status

array([1])

In [ ]:
from joblib import dump,load
dump(df_tree,'heathandfitness_modal.joblib')

['heathandfitness_modal.joblib']